<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/86be0ff359.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <title>Vasileiadis Alexandros</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">Vasileiadis Alexandros</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navButton">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><img src="png/002-united-kingdom.png" alt="" class="img-fluid"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/greek"><img src="png/001-greece.png" alt="" class="img-fluid"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="biography">
        <div class="container mt-4">
            <h1 class="text-center">Biography</h1>
            <p class="mt-4">I am a graduate of the Department of Informatics and Telecommunications of the University of Peloponnese, with working experience on Frontend Development and I am based in Athens. In University I found out that Web Development is my real passion, so since then I have been studying a lot and have been working on my own projects (which are presented in the corresponding section) using technologies like: Javascript, HTML, CSS, React.js, Node.js, express, bootstrap, embedded javascript(ejs), mongoDB and many more.</p>
            <p>My interests lie in solving problems related to large-scale web applications (creating both a good user experience (UX) and user interface (UI)) and at the same time keep on learning everyday ! </p>
            <p>Regarding my personal qualities, I consider my self a team player because I am very communicative and I enjoy working with other people as a team to achieve a goal. Also, I am a responsible and trustworthy person, who can work with timelines and deadlines!</p>
        </div>
    </section>

    <section class="py-1" id="skills">
        <div class="container">
            <h1 class="text-center pt-4">Skills</h1>
            <div class="row">
                <div class="col-12 col-sm-4 text-center">
                    <i class="fab fa-js-square align-items-center"></i></br>
                    <h3>Javascript</h3>
                    <p class="adds">Jquery, Plain Javascript, api(ajax, axios), asynchronous javascript</p>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <i class="fab fa-html5"></i></br>
                    <h3>HTML</h3>
                    <p class="adds">HTML5, embeded javascript(ejs)</p>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <i class="fab fa-css3"></i></br>
                    <h3>CSS</h3>
                    <p class="adds">CSS3, SASS, Bootstrap</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 text-center">
                    <i class="fab fa-node-js"></i></i></br>
                    <h3>Node.js</h3>
                    <p class="adds">express, api(axios), manipulating mongoDB(mongoose), familiar with using npm packages</p>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <i class="fab fa-git-alt"></i></br>
                    <h3>Git</h3>
                    <p class="adds">Both local and remote</p>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <i class="fab fa-github"></i></br>
                    <h3>Github</h3>
                    <p class="adds"><a href="https://github.com/AlexandrosVasileiadis">My Github profile</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 text-center">
                    <i class="fab fa-brands fa-react"></i></br>
                    <h3>React.js</h3>
                    <p class="adds">hooks, redux, class-based components and more</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-1" id="projects">
        <div class="container">
            <h1 class="text-center pt-4">Projects</h1>
            <div class="row pb-2 align-items-center">
                <div class="col-sm-6 col-12 order-md-1 order-2">
                    <img src="imgs/cafe-min.png" alt="" class="img-fluid rounded">
                </div>
                <div class="col-sm-6 col-12 order-md-2 order-1">
                    <p>Website of a local cafe. Including: landing page, page showing the products and a contact page. You can see the project <a href="https://evening-beyond-56733.herokuapp.com/">here</a></p>
                </div>
            </div>
            <div class="row pb-2 align-items-center">
                <div class="col-sm-6 col-12 order1">
                    <p>Web application used for searching videogames and getting information about them. An API is used! You can visit the application <a href="https://immense-tor-86911.herokuapp.com/">here</a></p>
                </div>
                <div class="col-sm-6 col-12 order-2">
                    <img src="imgs/videoGames-min.png" alt="" class="img-fluid rounded">
                </div>
            </div>
            <div class="row pb-2 align-items-center">
                <div class="col-sm-6 col-12 order-md-1 order-2">
                    <img src="imgs/Arthub-min.png" alt="" class="img-fluid rounded">
                </div>
                <div class="col-sm-6 col-12 order-md-2 order-1">
                    <p>Web application for artists, you can register, upload/delete photos for your account, add reviews or just check out the work other artists have uploaded without registering. You can see the project <a href="https://shielded-sands-40551.herokuapp.com/">here</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-2" id="contact">
        <div class="container">
            <h1 class="text-center pt-4">Contact</h1>
            <form id="contact-form">
                <input type="hidden" name="contact_number">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="user_name" placeholder="Name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="user_email" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary mb-3">Send</button>
            </form>
        </div>
    </section>

    <footer class="footer py-2 mt-auto rounded-top">
        <div class="container">
            <span>&copy Vasileiadis Alexandros</span>
        </div>
        <div class="container">Flag icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>

    <script src="javascripts/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>